@import '../../../../../../../../scss/variables';

ul.key-list {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        display: flex;
        align-items: center;
        padding: 20px 0;
        border-bottom: 1px solid $light-grey;
        &:last-of-type {
            border-bottom: none;
        }
        .name {
            margin-right: auto;
        }
    }
}