ul.parameter-list {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    li {
        font-weight: bold;
        margin-bottom: 10px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}