@import 'Variables';

.parameters-list {
    list-style: none;
    padding: 0;
    li {
        .remove-button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 37px;
            cursor: pointer;
            color: $error-red;
            &:hover {
                color: lighten($error-red, 10%);
            }
        }
    }
}

.add-button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}