form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    .form-group {
        width: 150px;
        display: block;
        margin-bottom: 20px;
        text-align: left;
        &:last-of-type {
            margin-bottom: 0;
        }
        label, input {
            display: block;
        }
        label {
            margin-bottom: 5px;
        }
        input {
            padding: 5px 10px;
        }
        button {
            display: inline-block;
        }
        .error {
            display: block;
            padding: 5px 0;
            color: red;
        }
    }
}